.title1 {
    font-family:"Roboto";
}
.title2{
    
    font-family: "Shadows Into Light", cursive;
    letter-spacing:5px ;  
    line-height: 35px;    
    text-transform: uppercase;  
}
.wraper{
    height:500px;
    width:600px;
    background-color: aquamarine;
    position: relative;
}
.child1{
    width: 150px;
    height:150px;
    background-color: brown;
    position: absolute;
    top:150px;
    right:100px;
}
.image-title{
    position: absolute;
    top:150px;
    right:200px;
    color:red;
    font-size: 35px;
    
}
.image-block{
    position: relative;
    display: inline-block;
    
}
.navigation{
    display: inline-block;
}
.nav-li-item{
    display: inline-block;
}
.header-wraper{
    padding:30px;
    background-color: antiquewhite;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;

}
